#box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    background-color: #FFFFFF;
    font-size: 30px;
    width: 500px;
    height: 100px;
    border-radius: 0px;
    font-family: "oxanium", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#TPRE_button {
    font-family: "oxanium", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#text {
    font-family: "oxanium", sans-serif;
    font-weight: 400;
    font-style: normal;
}
